//
//  Config.xcconfig
//  Rangoo
//
//  Created by Débora Cristina Silva Ferreira on 16/03/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_KEY = 6e6f38d7bc7947658b45f40ea1160483




