//
//  Config.xcconfig
//  Rangoo
//
//  Created by Débora Cristina Silva Ferreira on 16/03/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_KEY = 60e8592d6dd94900aecffc7e323e601d

